/* CSS declarations go here */

.corrido {margin-right: 60px;}
.fondo {background-color:#E8E9EE;}
.haspadding{ padding: 20px 20px 20px 20px; }
.destacado {color: #3B62B5;}
.destacado:after {

  content: "";

  display: block;

  border-top: 4.5px solid #3B62B5;

  border-bottom: 4.5px solid #3B62B5;

  width: 120px;

  border-radius: 12px;

  margin-top: 20px;

  margin-bottom: 0px;

}
.slogan {color: #3B62B5;}
.picture {max-height: 240px;}

div.scroll {
    background-color: white;
    margin-top: 5px;
    max-width: 450px;
    max-height: 350px;
    border: solid 1px;
    padding: 5px 5px 5px 5px;
    overflow: scroll;
    resize: both;
}
.compact{
  font-size: 90%;
  background-color: #FFFF73;
  margin-bottom: 2px;

}
div.scroll2 {
    background-color: white;
    margin-top: 5px;
    max-width: 450px;
    max-height: 350px;
    border: solid 1px;
    padding: 5px 5px 5px 5px;
    overflow: scroll;
    resize: both;
}
.compact2{
  font-size: 90%;
  background-color: #BFFFFF;
  margin-bottom: 2px;
}
.thumbnail-img{
  max-height:200px;
}
